@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  scroll-behavior: smooth;
}

header {
  width: 80%;
  margin: auto;
  padding: 1rem 0;
}

/* Hero */

.hero {
  padding: 40px 0;
  width: 80%;
}

.hero .container {
  display: flex;
  align-items: center;
  position: relative;
}

.hero .container .left {
  width: 50%;
  margin-left: 0;
}

.hero .container .left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.hero .container .left p.text {
  margin-bottom: 1rem;
  width: 70%;
  margin-left: 0;
  line-height: 1.8;
  font-weight: 500;
}

.hero .container .left button.active {
  background-color: #1e1ee7;
  border: none;
  padding: 1rem 2rem;
  border-radius: 3rem;
  color: #ddd;
  font-weight: 600;
  margin-bottom: 1rem;
  cursor: pointer;
}

.hero .container .left button.active:hover {
  background-color: #4444f0;
}

.hero .container .left button {
  border: 2px solid #1e1ee7;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: none;
  color: #1e1ee7;
  font-weight: 600;
  margin-bottom: 1rem;
  cursor: pointer;
}

.hero .container .left button:hover {
  background-color: #f2f2f2;
}

.hero .container .left .image {
  display: flex;
  margin-top: 1rem;
}

.hero .container .left .image div {
  margin-left: 1rem;
}

.hero .container .left .image div p {
  font-size: 0.9rem;
}

.hero .container .left .testimonials .testimonial p.qoute {
  background-color: #f2f2f2;
  border-left: 2px solid #1e1ee7;
  padding: 1rem;
  font-family: italic;
}

.hero .container .left img {
  width: 2rem;
  margin-left: 0;
  margin-right: 0;
}

.hero .container .right {
  margin-left: 3rem;
}

@media (max-width: 900px) {
  header {
    width: 90%;
  }

  header .logo h1 {
    font-size: 1rem;
  }

  /* Hero */

  .hero {
    width: 90%;
  }

  .hero .container {
    display: block;
  }

  .hero .container .left {
    width: 100%;
  }

  .hero .container .left h1 {
    font-size: 1.5rem;
  }

  .hero .container .left p.text {
    width: 100%;
    font-size: 0.8rem;
  }

  .hero .container .left button.active,
  .hero .container .left button {
    padding: 0.5rem 1rem;
  }

  .hero .container .left .image div p {
    font-size: 0.8rem;
  }

  .hero .container .left .testimonials .testimonial p.qoute {
    padding: 1.5rem;
  }

  .hero .container .right {
    margin-left: 0;
  }

  .hero .container .right img {
    width: 100%;
    margin-top: 2rem;
  }
}

/* Gain */

.gain {
  width: 80%;
  margin: auto;
}

.gain .gain-container {
  padding: 80px 0;
}

.gain .gain-container h2,
.gain .gain-container p {
  text-align: center;
  color: #474747;
}

.gain .gain-container h2 {
  margin-bottom: 1rem;
}

.gain .gain-container p {
  width: 50%;
  margin-bottom: 3rem;
}

.gain .gain-container .service-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.gain .gain-container .service-container i {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #4444f0;
}

.service {
  width: 20rem;
  height: 15rem;
}

.service h4 {
  margin-bottom: 1rem;
  color: #222;
  line-height: 1.5;
}

.service span {
  line-height: 1.5;
}

@media (max-width: 900px) {
  .gain {
    width: 90%;
  }

  .gain .gain-container h2 {
    font-size: 1.5rem;
  }

  .gain .gain-container p {
    width: 100%;
  }

  .gain .gain-container .service-container {
    display: block;
  }

  .gain .gain-container .service-container i {
    font-size: 1.5rem;
  }

  .service {
    margin-bottom: 3rem;
    width: 100%;
    height: 100%;
  }
}

/* Include */

.include {
  width: 80%;
  margin: auto;
}

.include .include-container {
  padding: 80px 0;
}

.include .include-container h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #474747;
}

.include .include-container .include-items {
  display: flex;
}

.include .include-container .include-items .item button {
  background-color: #4444f0;
  border: 1px;
  padding: 1rem 3rem;
  width: 80%;
  color: #ddd;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.include .include-container .include-items .item button:hover {
  background-color: #1e1ee7;
}

.include .include-container .include-items .item div {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.include .include-container .include-items .item div p {
  margin-left: 1rem;
}

.include .include-container .include-items .item div i {
  background-color: #4444f0;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fafafa;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 900px) {
  .include {
    width: 90%;
  }

  .include .include-container {
    padding: 40px 0;
  }

  .include .include-container .include-items {
    display: block;
  }

  .include .include-container .include-items .item {
    margin-bottom: 2rem;
  }

  .include .include-container .include-items .item img {
    width: 100%;
  }

  .include .include-container .include-items .item div i {
    padding: 0.3rem;
    font-size: 0.8rem;
    text-align: center;
  }
}

/* This Book */

.thisBook {
  width: 80%;
  margin: auto;
}

.thisBook .thisBook-container {
  padding: 80px 0;
}

.thisBook .thisBook-container h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #474747;
  text-align: center;
}

.thisBook .thisBook-container p.text {
  text-align: center;
  margin-bottom: 1rem;
  width: 60%;
  margin: auto;
  line-height: 1.5;
}

.thisBook .thisBook-container .students {
  width: 60%;
  margin: auto;
  margin-top: 4rem;
}

.thisBook .thisBook-container .students .student {
  display: flex;
  justify-items: flex-end;
  margin-bottom: 2rem;
}

.thisBook .thisBook-container .students .student i {
  color: #4444f0;
  font-size: 1.5rem;
  margin-top: 0;
}

.thisBook .thisBook-container .students .student div {
  margin-left: 1rem;
}

.thisBook .thisBook-container .students .student div h4 {
  margin-bottom: 1rem;
}

.thisBook .thisBook-container .students .student div p {
  line-height: 1.5;
}

@media (max-width: 900px) {
  .thisBook {
    width: 90%;
  }

  .thisBook .thisBook-container {
    padding: 40px 0;
  }

  .thisBook .thisBook-container h3 {
    font-size: 1.5rem;
  }

  .thisBook .thisBook-container p.text {
    width: 100%;
  }

  .thisBook .thisBook-container .students {
    width: 90%;
  }
}

/* Author */

.author {
  background-color: #4444f0;
  color: #fafafa;
}

.author .author-container {
  padding: 80px 0;
  width: 80%;
  margin: auto;
}

.author .author-container img {
  width: 7rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.author .author-container h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.author .author-container p {
  width: 80%;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.author .author-container .follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.author .author-container .follow h4 {
  margin-bottom: 1rem;
}

.author .author-container .follow .icons i {
  margin-right: 1rem;
  background-color: #ddd;
  padding: 0.5rem;
  color: #474747;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 900px) {
  .author .author-container {
    width: 90%;
  }

  .author .author-container img {
    width: 5rem;
  }

  .author .author-container h3 {
    font-size: 1.5rem;
  }

  .author .author-container p {
    width: 100%;
    font-size: 0.8rem;
  }

  .author .author-container .follow h4 {
    font-size: 1rem;
  }
}
